.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(40, 68, 193, 0.1);
  transition: transform 0.2s ease-in-out;
  margin: 5vw;
  width: 100%;
  overflow: hidden;
  padding: 0.5rem;
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }


  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(77, 107, 218, 0.534);
  }
    @media (min-width: 768px) {
        width: 23%;
        margin: 0.8vw;
        margin-top: 5vw;
      
    }
}
